<div class="col-12 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h1>About</h1>
        <h3>NPM Packages</h3>
        <ul>
          <li>body-parser: 1.20.2</li>
          <li>dotenv: 16.4.2</li>
          <li>ejs: 3.1.9</li>
          <li>express: 4.18.2</li>
          <li>express-ejs-layouts: 2.5.1</li>
          <li>express-session: 1.18.0</li>
          <li>method-override: 3.0.0</li>
          <li>mongoose: 8.1.1</li>
          <li>multer: 1.4.5-lts.1</li>
          <li>passport: 0.7.0</li>
          <li>passport-local: 1.0.0</li>
          <li>passport-local-mongoose: 8.0.0</li>
          <li>nodemon: 3.0.3</li>
        </ul>
      </div>
    </div>
  </div>