<div class="col-12 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <form action="/setting" method="post">
          <p>Edit profile picture</p>
          <div class="input-group mb-3">
            <input type="file" class="filepond form-control" id="inputGroupFile01" name="userImage">
          </div>

          <p>Bio</p>
          <div class="input-group">
            <textarea class="form-control" name="bio"></textarea>
          </div>

          <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>